#mapper
.idea
.brettspillEnv
.vscode
static
staticfiles
node_modules
# Python virtual environment
venv
#Folder with environment files


#Filer
password.py
notes

#Filtyper
*.pem
*.env
*.tar
*.pyc
*.iml
/brettspill_py/test.env
